@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@media (min-width: 768px)  {
    max-width: 720px;
}

@media (min-width: 576px) .container,
 {
    max-width: 540px;
}
.app {
    max-width: 800px;
        margin: 60px auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.weather {
    box-shadow: rgb(144, 166, 181) 0px 8px 8px 0;
    background: linear-gradient(180.3deg,rgb(110, 136, 161) 5.5%, rgb(221, 221, 221) 90.2%);
    border-radius: 10px;
    color: #263238;
    padding: 40px;
    
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
    color: rgb(61, 59, 59);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    color: rgb(61, 59, 59);
    font-size: 16px;
    font-weight: 100;
    line-height: 19.2px;
    text-align: left;
}

.temperature {
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
    color: rgb(35, 35, 35);
}

.weather-temperature img {
    margin-right: 5spx;
    height: 64px;
    width: 64px;
}
a {
    text-decoration: none;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: 5px;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: rgb(35, 35, 35);;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 11px;
}
small {
        text-align: center;
        font-family: monospace;
        font-size: 15px;
}